.profile-logout {
    margin-top: 12px;
}

.profile-logout__container {
    width: 410px;
    align-items: center;
}

.profile-logout__button {
    cursor: pointer;
    width: 410px;
    background-color: transparent;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #ee3465;
    border: none;
}

.profile-logout__button_disabled {
    display: none;
}