.navigation {
    display: flex;
    align-items: center;
}

.navigation__container {
    display: flex;
    gap: 30px;
}

.navigation__link {
    text-decoration: none;
    color: var(--text-color);
}

