.fieldset {
    display: grid;
    border: none;
    padding: 0;
    margin: 0;
}

.fieldset__input-label {
    color: #8b8b8b;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
}

.fieldset__input {
    margin-top: 10px;
    background-color: var(--input-color);
    border: none;
    border-radius: 8px;
    color: var(--text-color);
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    height: 46px;
    padding: 0 0 0 15px;
}

.fieldset__input:focus {
    outline: none;
}

.fieldset__validation-message {
    margin-top: 10px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #ee3465;
}