.techs {
    background-color: #272727;
    padding: 100px 0;
}

.techs__description-title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    color: var(--text-color);
    margin: 90px auto 0;
}

.techs__description-subtitle {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
    color: var(--text-color);
    max-width: 460px;
    margin: 26px auto 0;
}

.techs__stack {
    margin: 100px 0 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}
